
.container_header{
    display: flex;
    flex-direction: column;

    & .first_menu{
        display: flex;
        justify-content: space-between;
        & .infor-first_menu{
            display: flex;
            & ul{
                display: flex;
                gap: calc(var(--text-size) * 0.75);
                list-style: none;
                & label{
                    display: flex;
                    gap: calc(var(--text-size) * 0.25);
                }
            }
        }
    }

    & .social-first_menu{
        display: flex;
    }
}