#subir{
    display: none;
    position: fixed;
    bottom: 0;
    right:0;
    font-size: calc(var(--text-size) * 1.25);
    background: var(--bg-tertiary);
    padding:calc(var(--space-size) * 0.625) calc(var(--space-size) * 0.9375);
    border-radius: 50%;
    margin: calc(var(--space-size) * 0.9375);
    transition: var(--transition);
    color: var(--dark-color);
    text-decoration: none;
    z-index: 4;
}

#subir:hover{
    background: var(--bg-primary);
    color: var(--light-color);
}

@media(max-width:650px){
    #subir{
        font-size: calc(var(--text-size) * 0.85);
        padding:calc(var(--space-size) * 0.625) calc(var(--space-size) * 0.7375);
    }
}