/* article about */
.container_about{
    margin-top: calc(var(--space-size) * 6.25);
    display: flex;
    justify-content: space-evenly;
    & .img_about{
        width: 500px;
        position: relative;
        & img{
            width: 100%;
        }
        & h2{
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: var(--bg-tertiary);
            color: var(--secondary-color);
            width: 100%;
            text-align: center;
            padding: calc(var(--space-size) * 0.75);
        }
    }
    & .content_about{
        width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: right;
        gap: calc(var(--space-size) * 2);
        & h4{
            color: var(--primary-color);
            font-size: calc(var(--text-size) * 1.25);
        }
        & h2{
            color: var(--secondary-color);
            font-size: calc(var(--text-size) * 2.25);
            width: 550px;
        }
        & p{
            line-height: calc(var(--space-size) * 1.56);
            width: 650px;
            text-align: justify;
        }
        & .play-content_about{
            display: flex;
            align-items: center;
            gap: calc(var(--space-size) * 1.125);
            & a{
                text-decoration: none;
                background-color: var(--bg-tertiary);
                color: var(--secondary-color);
                padding: calc(var(--text-size) * 0.75);
                border-radius: var(--border-radius_xm);
            }
            & h2{
                font-size: calc(var(--text-size) * 1.25);
            }
        }
    }
}

/* article quote */

.container_quote{
    margin-top: calc(var(--space-size) * 6.25);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    & .content_quote{
        width: 700px;
        display: flex;
        flex-direction: column;
        gap: calc(var(--space-size) * 2);
        & h4{
            color: var(--primary-color);
            font-size: calc(var(--text-size) * 1.25);
        }
        & h2{
            color: var(--secondary-color);
            font-size: calc(var(--text-size) * 2.25);
        }
        & p{
            line-height: calc(var(--space-size) * 1.56);
            text-align: justify;
        }
        & .numbers-content_quote{
            display: flex;
            justify-content: space-between;
            & .number_quote{
                text-align: center;
                display: grid;
                gap: calc(var(--space-size) * 0.55);
                & h2{
                    color: var(--primary-color);
                    font-weight: bold;
                    font-size: calc(var(--text-size) * 2);
                }
                & p{
                    color: var(--secondary-color);
                    font-weight: bold;
                    font-size: calc(var(--text-size) * 1.25);  
                    text-align: center;   
                }
            }
        }
    }

    /* article quote - form */
    & .form_quote{
        width: 500px;
        background-color: var(--bg-tertiary);
        display: flex;
        flex-direction: column;
        padding: calc(var(--space-size) * 4) calc(var(--space-size) * 2);
        gap: calc(var(--space-size));
        & input,textarea{
            outline: none;
            padding: calc(var(--space-size) * 0.75);
            font-family: var(--text-family);
            border: none;
            resize: none;
        }
        & input[type="submit"]{
            background-color: var(--bg-primary);
            color: var(--light-color);
            cursor: pointer;
            font-size: calc(var(--text-size) * 1.125);
            font-weight: bold;
            letter-spacing: calc(var(--space-size) * 0.125);
            transition: var(--transition);
            &:hover{
                background-color: var(--bg-secondary);
            }
        }
    }
}

/* article - services */

.container_services{
    margin: auto;
    margin-top:calc(var(--space-size) * 6.25);
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    gap: calc(var(--space-size) * 1.25);
    padding: calc(var(--space-size) * 2);
    & h4{
        color: var(--primary-color);
        font-size: calc(var(--text-size) * 1.25);
        text-align: center;
    }
    & h2{
        color: var(--secondary-color);
        font-size: calc(var(--text-size) * 2.25);
        text-align: center;
    }
    & .content_services{
        display: flex;
        justify-content: space-between;
        margin-top: calc(var(--space-size) * 3.125);
        & .box_services{
            width: 260px;
            & .title-box_services{
                background-color: var(--bg-tertiary);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: var(--space-size);
                padding: var(--space-size);
                & .fa-plane,.fa-ship,.fa-truck,.fa-box{
                    font-size: calc(var(--text-size) * 1.45);
                    color: var(--secondary-color);
                }
                & h3{
                    color: var(--light-color);
                }
            }
            & .info-box_services{
                display: grid;
                gap: calc(var(--space-size)*1.25);
                padding: calc(var(--space-size)*2.25) calc(var(--space-size)*0.625);
                & p{
                    text-align: center;
                    line-height: calc(var(--space-size) * 1.562);
                }
                & a{
                    text-align: center;
                    text-decoration: none;
                    color: var(--primary-color);
                    font-weight: bold;
                    letter-spacing: 1px;
                }
            }
        }
    }
}


@media(max-width:1250px){
    .container_about{
        & .img_about{
            width: 500px;
        }
        & .content_about{
            width: 500px;
            & h2,p{
                width: 100%;
            }
        }
    }

    .container_quote{
        & .content_quote{
            width: 500px;
        }
    }

    .container_services{
        & .content_services{
            & .box_services{
                width: 240px;
            }
        }
    }
}

@media(max-width:1050px){
    .container_about{
        padding: calc(var(--space-size) * 1.25);
        flex-direction: column-reverse;
        align-items: center;
        margin-top: calc(var(--space-size) * 1.25);
        & .content_about,.img_about{
            width: 70%;
            margin-top: calc(var(--space-size) * 1.25);
        }
    }

    .container_quote{
        padding: calc(var(--space-size) * 1.25);
        flex-direction: column;
        align-items: center;
        margin-top: calc(var(--space-size) * 1.25);
        & .content_quote,.form_quote{
            width: 70%;
            margin-top: calc(var(--space-size) * 1.875);
        }
    }

    .container_services{
        margin-top: calc(var(--space-size) * 1.25);
        & .content_services{
            flex-wrap: wrap;
            justify-content: space-around;
            & .box_services{
                width: 400px;
                margin: calc(var(--space-size) * 0) calc(var(--space-size) * 0.625);
            }
        }
    }
}

@media(max-width:620px){
    .container_about{
        & .content_about,.img_about{
            width: 100%;
            gap: calc(var(--space-size) * 1.25);
            & h4{
                font-size: calc(var(--text-size) * 0.9375);
            }
            & h2{
                font-size: calc(var(--text-size) * 1.25);
            }
            & p{
                font-size: calc(var(--text-size) * 0.8125);
            }
        }
    }

    .container_quote{
        padding: calc(var(--space-size) * 0.625);
        & .content_quote,.form_quote{
            width: 100%;
            gap: calc(var(--space-size) * 1.25);
            padding: calc(var(--space-size) * 2.5) calc(var(--space-size) * 1.25);;
            margin-top: 0;
            & h4{
                font-size: calc(var(--text-size) * 0.9375);
            }
            & h2{
                font-size: calc(var(--text-size) * 1.25);
            }
            & p{
                font-size: calc(var(--text-size) * 0.8125);
            }
            & input[type="submit"]{
                font-size: calc(var(--text-size) * 0.9375);
            }
            & .numbers-content_quote{
                gap: calc(var(--space-size) * 1.25);
                & .number_quote{
                    
                    & h2{
                        font-size: calc(var(--text-size) * 1.25);
                    }
                    & p{
                        font-size: calc(var(--text-size) * 0.8125);
                        
                    }
                }
            }
        }
    }

    .container_services{
        padding: 0;
        margin-top: calc(var(--space-size) * 2.5);
        & h4{
            font-size: calc(var(--text-size) * 0.9375);
        }
        & h2{
            font-size: calc(var(--text-size) * 1.25);
        }
        & .content_services{
            padding: calc(var(--space-size) * 0.625);
            margin-top: 0;
            & .box_services{
                width: 100%;
                margin-bottom: calc(var(--space-size) * 0.625);
                & .title-box_services{
                    & h3{
                        font-size: calc(var(--text-size) * 0.9375);
                    }
                }
                & .info-box_services{
                    gap: calc(var(--space-size) * 0.9375);
                    padding: calc(var(--space-size) * 0.9375);
                }
            }
        }
    }
}